@{
    ViewBag.Title = "Anniversary";
}


<!-- Masthead-->
<header class="masthead">
    <div class="container h-100">
        <div class="row h-100 align-items-center justify-content-center text-center">
            <div class="col-lg-10 align-self-end">
                <h1 class="text-uppercase text-white font-weight-bold">the 3rd anniversary!</h1>
                <hr class="divider my-4" />
            </div>
            <div class="col-lg-8 align-self-baseline">
                <p class="text-white-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
            </div>
        </div>
    </div>
</header>

<!-- About-->
@*<section class="page-section bg-primary" id="about">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center">
                <h2 class="text-white mt-0">We've got what you need!</h2>
                <hr class="divider light my-4" />
                <p class="text-white-50 mb-4">Start Bootstrap has everything you need to get your new website up and running in no time! Choose one of our open source, free to download, and easy to use themes! No strings attached!</p>
                <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
            </div>
        </div>
    </div>
</section>*@

<!-- Services-->
@*<section class="page-section" id="services">
    <div class="container">
        <h2 class="text-center mt-0">At Your Service</h2>
        <hr class="divider my-4" />
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-gem text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Sturdy Themes</h3>
                    <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Up to Date</h3>
                    <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Ready to Publish</h3>
                    <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <i class="fas fa-4x fa-heart text-primary mb-4"></i>
                    <h3 class="h4 mb-2">Made with Love</h3>
                    <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                </div>
            </div>
        </div>
    </div>
</section>*@

<!-- Portfolio-->
<section class="page-section" id="portfolio">
    <div id="portfolio">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/1.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/1.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/2.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/2.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/3.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/3.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/4.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/4.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/5.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/5.jpg" alt="" />
                        <div class="portfolio-box-caption">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a class="portfolio-box" href="~/assets/img/portfolio/fullsize/6.jpg">
                        <img class="img-fluid" src="~/assets/img/portfolio/thumbnails/6.jpg" alt="" />
                        <div class="portfolio-box-caption p-3">
                            <div class="project-category text-white-50">Category</div>
                            <div class="project-name">Project Name</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Gallery -->
<section class="page-section" id="services">
    <div id="gg-screen"></div>
    <h1></h1>
    <div class="col-lg-11.5 col-sm-12" style="margin:0 auto">
        <div class="gg-box">
            <div class="gg-element">
                <img src="https://picsum.photos/1600/1300/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1600/1200/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1200/1600/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1600/1201/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1200/1601/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1201/1600/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1600/1310/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1311/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1603/1311/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1312/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1201/1601/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1201/1602/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1313/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1314/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1315/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1602/1316/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1203/1602/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1605/1312/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1204/1602/?random">
            </div>
            <div class="gg-element">
                <img src="https://picsum.photos/1205/1602/?random">
            </div>
        </div>
    </div>
</section>

<!-- Post -->
<section class="page-section" id="about">
    <div class="loading">
        <svg class="hidden">
            <symbol id="icon-cross" viewBox="0 0 24 23">
                <title>cross</title>
                <path d="M23.865 3.677c.197-.383.164-.818-.008-1.18.048-.41-.06-.827-.448-1.147L22.323.457c-.636-.524-1.632-.689-2.25 0a155.348 155.348 0 0 1-8.797 9.001C9.011 7.342 6.72 5.255 4.443 3.165c-.8-.734-1.956-.503-2.458.37C1.253 3.9.659 4.374.168 5.182c-.233.386-.215.872 0 1.258 1.47 2.635 4.31 4.951 6.646 7.083-.313.28-.623.562-.942.836-3.146 2.702-5.268 4.416-1.331 7.187.053.037.107.029.161.05.076.036.148.06.232.074.026 0 .05.005.075.003.082.007.16.027.243.011 2.117-.415 4.085-2.074 5.872-3.9 1.74 1.715 3.592 3.353 5.63 4.325.485.232 1.063.097 1.436-.227.626.047 1.197-.342 1.484-.901.042-.026.07-.041.116-.07.91-.569.993-1.701.32-2.482-1.522-1.762-3.138-3.438-4.787-5.084 2.968-2.9 6.674-6.027 8.542-9.667z" />
            </symbol>
        </svg>
    </div>
    <main>
        <div class="content">
            <div class="grid">
                <a class="grid__item" href="#preview-1">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/1.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Memo">Memo</span></h3>
                        <h4 class="box__text"><span class="box__text-inner">Beast</span></h4>
                        <div class="box__deco">&#10014;</div>
                        <p class="box__content">"Sometimes we go surfing when it's stormy weather"</p>
                    </div>
                </a>
                <a class="grid__item" href="#preview-2">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/2.jpg" alt="Some image" />
                        <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Gun">Gun</span></h3>
                        <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
                        <div class="box__deco box__deco--top">&#10115;</div>
                    </div>
                </a>
                <a class="grid__item" href="#preview-3">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/3.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="West">West</span></h3>
                        <h4 class="box__text box__text--topcloser"><span class="box__text-inner">Green</span></h4>
                        <div class="box__deco">&#10032;</div>
                    </div>
                </a>
                <a class="grid__item grid__item--noclick" href="http://go.thoughtleaders.io/253620180522">
                    <div class="box">
                        <div class="box__shadow"></div>
                        @*<img class="box__img" src="pater/monday.png" alt="Some image" />*@
                        <h4 class="box__text"><span class="box__text-inner box__text-inner--rotated2 box__text-inner--reverse">Sponsor</span></h4>
                        <p class="box__content"><strong>monday.com</strong> offers simplified planning and collaboration tools. Create customizable boards to track everything your team is working on and keep all communication in one place and never lose track again. <strong>Create your free account</strong></p>
                    </div>
                </a>
                <a class="grid__item" href="#preview-4">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/5.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Catch">Catch</span></h3>
                        <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Fire</span></h4>
                    </div>
                </a>
                <a class="grid__item" href="#preview-5">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/6.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Lim">Lim</span></h3>
                        <h4 class="box__text box__text--bottomcloser"><span class="box__text-inner">Breed</span></h4>
                    </div>
                </a>
                <a class="grid__item" href="#preview-6">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/7.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Hard">Hard</span></h3>
                        <h4 class="box__text"><span class="box__text-inner">Fast</span></h4>
                        <p class="box__content">"Love stronger, stranger! Love stronger."</p>
                    </div>
                </a>
                <a class="grid__item" href="#preview-7">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/8.jpg" alt="Some image" />
                        <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner" data-hover="Red">Red</span></h3>
                        <h4 class="box__text box__title--bottom"><span class="box__text-inner box__text-inner--rotated1">Life</span></h4>
                    </div>
                </a>
                <a class="grid__item" href="#preview-8">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/4.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Jack">Jack</span></h3>
                        <h4 class="box__text box__text--bottom"><span class="box__text-inner">Bust</span></h4>
                        <div class="box__deco">&#10108;</div>
                    </div>
                </a>
                <a class="grid__item" href="#preview-9">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/10.jpg" alt="Some image" />
                        <h3 class="box__title"><span class="box__title-inner" data-hover="Wild">Wild</span></h3>
                        <h4 class="box__text box__text--bottom"><span class="box__text-inner">Zack</span></h4>
                    </div>
                </a>
                <a class="grid__item" href="#preview-10">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/11.jpg" alt="Some image" />
                        <h3 class="box__title box__title--bottom"><span class="box__title-inner" data-hover="Lost">Lost</span></h3>
                        <h4 class="box__text"><span class="box__text-inner box__text-inner--rotated2">Rust</span></h4>
                        <p class="box__content">"Call it a hurricane or call it freedom, Frank"</p>
                    </div>
                </a>
                <a class="grid__item" href="#preview-11">
                    <div class="box">
                        <div class="box__shadow"></div>
                        <img class="box__img" src="~/img/12.jpg" alt="Some image" />
                        <h3 class="box__title box__title--straight box__title--left"><span class="box__title-inner" data-hover="Grit">Grit</span></h3>
                        <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Mud</span></h4>
                        <div class="box__deco box__deco--top">&#10153;</div>
                    </div>
                </a>
            </div>
        </div>
        <div class="overlay">
            <div class="overlay__reveal"></div>
            <div class="overlay__item" id="preview-1">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/1.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Memo</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Beast</span></h4>
                    <div class="box__deco">&#10014;</div>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-2">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/2.jpg" alt="Some image" />
                    <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner">Gun</span></h3>
                    <h4 class="box__text box__text--bottom"><span class="box__text-inner box__text-inner--rotated1">Rain</span></h4>
                    <div class="box__deco box__deco--top">&#10115;</div>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-3">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/3.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">West</span></h3>
                    <h4 class="box__text box__text--topcloser"><span class="box__text-inner">Green</span></h4>
                    <div class="box__deco">&#10032;</div>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-4">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/5.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Catch</span></h3>
                    <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Fire</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-5">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/6.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Lim</span></h3>
                    <h4 class="box__text box__text--bottomcloser"><span class="box__text-inner">Breed</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-6">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/7.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Hard</span></h3>
                    <h4 class="box__text"><span class="box__text-inner">Fast</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-7">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/8.jpg" alt="Some image" />
                    <h3 class="box__title box__title--straight box__title--bottom"><span class="box__title-inner">Red</span></h3>
                    <h4 class="box__text box__title--bottom"><span class="box__text-inner box__text-inner--rotated1">Life</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-8">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/9.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Jack</span></h3>
                    <h4 class="box__text box__text--bottom"><span class="box__text-inner">Bust</span></h4>
                    <div class="box__deco">&#10108;</div>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-9">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/10.jpg" alt="Some image" />
                    <h3 class="box__title"><span class="box__title-inner">Wild</span></h3>
                    <h4 class="box__text box__text--bottom"><span class="box__text-inner">Zack</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-10">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/11.jpg" alt="Some image" />
                    <h3 class="box__title box__title--bottom"><span class="box__title-inner">Lost</span></h3>
                    <h4 class="box__text"><span class="box__text-inner box__text-inner--rotated2">Rust</span></h4>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <div class="overlay__item" id="preview-11">
                <div class="box">
                    <div class="box__shadow"></div>
                    <img class="box__img box__img--original" src="~/img/original/12.jpg" alt="Some image" />
                    <h3 class="box__title box__title--straight box__title--left"><span class="box__title-inner">Grit</span></h3>
                    <h4 class="box__text box__text--bottom box__text--right"><span class="box__text-inner box__text-inner--rotated3">Mud</span></h4>
                    <div class="box__deco box__deco--top">&#10153;</div>
                </div>
                <p class="overlay__content">It's time the tale were told of how you took a child and you made him old.</p>
            </div>
            <button class="overlay__close"><svg class="icon icon--cross"><use xlink:href="#icon-cross"></use></svg></button>
        </div>
    </main>
</section>

<!-- Map -->
@*<section class="page-section">
        <div class="col-lg-10 col-sm-12" style="margin:0 auto">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1hdzMjCsevjQO3mB4NnD9NILjr_fsmCCH"></iframe>
            </div>
        </div>
    </section>*@

<!-- Call to action-->
@*<section class="page-section bg-dark text-white">
        <div class="container text-center">
            <h2 class="mb-4">Free Download at Start Bootstrap!</h2>
            <a class="btn btn-light btn-xl" href="https://startbootstrap.com/theme/creative/">Download Now!</a>
        </div>
    </section>*@

<!-- Map -->
@*<div class="page-section" id="contact">*@
    <div class="page-sectio embed-responsive embed-responsive-16by9" id="contact">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/d/embed?mid=1hdzMjCsevjQO3mB4NnD9NILjr_fsmCCH"></iframe>
    </div>
@*</div>*@

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Start Bootstrap</div></div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

<!-- Core theme JS-->
<script src="~/Scripts/scripts.js"></script>

<!-- Grid-Gallery-Lightbox -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="~/Scripts/grid-gallery.min.js"></script>
<link rel="stylesheet" href="~/Content/grid-gallery.min.css">

<!-- GridLayoutMotion -->
<script src="~/Scripts/imagesloaded.pkgd.min.js"></script>
<script src="~/Scripts/TweenMax.min.js"></script>
<script src="~/Scripts/demo.js"></script>
<link rel="stylesheet" type="text/css" href="~/Content/base_GridLayoutMotion.css" />

<script>
    //$("#mainNav").hide();
    $(".grid__item").on("click",
        function () {
            $("#mainNav").hide();
        });
    $(".overlay__close").on("click",
        function () {
            $("#mainNav").show();
        });


</script>
